@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination-item {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-item:hover {
  background-color: #e2e8f0;
}

.pagination-item.active {
  background-color: #2d3748;
  color: white;
}

.slick-slide > div {
  margin: 0 14px;
}
.slick-list {
  margin: 0 -14px;
}
.slick-dots {
  bottom: 25px !important;
}
.slick-dots li button:before {
  color: white !important;
  font-size: 1rem;
}
.slick-dots li.slick-active button:before {
  color: #5f5fff !important;
}
@layer base {
  html {
    @apply font-redhatDisplay;
  }
  p {
    @apply text-base;
  }

  a {
    @apply transition-lg hover:text-blue-200 hover:transition-sm;
  }
  h1 {
    @apply text-4xl font-bold sm:text-4xl md:text-[2.625rem] lg:text-5xl xl:text-[3.5rem] leading-[1.1]  lg:leading-[1.2];
  }
  h2 {
    @apply text-3xl font-bold sm:text-3xl md:text-4xl lg:text-[3rem];
  }
  h3 {
    @apply text-xl font-bold sm:text-2xl md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply text-lg font-bold sm:text-lg md:text-xl lg:text-2xl leading-[1.1] sm:leading-[1.2];
  }
  h5 {
    @apply text-sm md:text-lg font-normal;
  }
  h6 {
    @apply text-xs  font-normal font-manrope;
  }
  input {
    @apply bg-navy-200 p-[10px] px-[15px] inline-block rounded-md border-0 shadow-none focus:shadow-none focus:outline-0;
  }
}

@layer components {
  .slickDot li button {
    @apply bg-blue  p-2 rounded-full;
  }
  .ptb {
    @apply py-8 sm:py-10 md:py-12 lg:py-14 xl:py-[60px];
  }
  .p-b {
    @apply py-8 sm:py-10 md:py-12 lg:py-14 xl:py-16;
  }
  .tab {
    @apply bg-navy-100 px-5 text-white py-4 rounded-md hover:bg-blue focus:bg-blue focus:border-none;
  }
  .social-icon {
    @apply text-white border border-white rounded-full p-2 text-4xl hover:bg-blue-300 transition-lg hover:transition-sm hover:border-blue-300;
  }
  .card-btn {
    @apply px-3 py-[6px] flex gap-1  items-center bg-navy-200 text-base text-blue-300 hover:text-white border-blue rounded-lg font-semibold hover:bg-gradient-to-t hover:from-blue-100 hover:to-blue-200  transition-all hover:transition-all group-hover:bg-gradient-to-t group-hover:from-blue-100 group-hover:to-blue-200 group-hover:text-white group-hover:transition-sm hover:transition-sm;
  }
  .bg-shadow {
    @apply before:content-['']  before:absolute before:top-0 before:left-0  before:w-full before:h-full before:bg-[#1E1E37E5] opacity-40 transition-sm;
  }
  .position-center {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }
  .position-left-center {
    @apply absolute bottom-0 left-[50%] translate-x-[-50%] translate-y-[-50%];
  }

  .before-shape {
    @apply before:content-['']  before:absolute before:w-4 before:h-[2px] before:top-[50%] before:translate-y-[-50%] before:right-[100%] before:bg-blue-300 inline-block;
  }
  .after-shape {
    @apply before:content-['']  after:absolute after:w-4 after:h-[2px] after:top-[50%] after:translate-y-[-50%] after:left-[100%] after:bg-blue-300 inline-block;
  }
  .primary-gradient {
    @apply bg-gradient-to-b from-blue-200 to-blue-100 hover:bg-gradient-to-t hover:from-blue-200 hover:to-blue-100;
  }
  .secondary-gradient {
    @apply bg-gradient-to-b from-navy-100 to-transparent;
  }
}
@layer utilities {
  .right-center {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
  }
  .rotate-y-180 {
    transform: "rotateY(180deg)";
  }

  .transition-sm {
    transition: all 0.3s ease;
  }
  .transition-lg {
    transition: all 0.5s ease;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .d-inline {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
